input {
    width: 100%;
}

.note-holder textarea{
    width: 100%;
}


/*display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 78%;
    margin: auto;
}

.page-container .input-field {
    width: 100%;
}

.page-container .input-field .a {
    font-size: 3em;
    width: 100%;
}

.page-container .save {
    width: 100%;
    height: 4em;
}*/

